<!DOCTYPE html>
<html>
<head>
  <title>The Holborn Feast</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<main>
  <header>
    <h1><%= link_to "The Holborn Feast", eateries_path %></h1>
  </header>

  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.name %> &bull; <%= link_to "sign out", session_path, method: :delete %></p>
  <% end %>

  <% if flash.any? %>
    <% flash.each do |key, message| %>
      <div class="message message-<%= key %>"><%= message %></div>
    <% end %>
  <% end %>

  <%= yield %>
</main>

</body>
</html>
